body{
    text-align: center;
}
#welcome{
    background-color: aqua;
    z-index:9;
    
}

.menu{
    z-index: 10;
    text-decoration:none;
    right:30px;
    top:10px;
    
}

.links{
    text-decoration:none;
    float:left;
    color: blue;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 25px;
    
}

#videos{
    background-color: brown;
}